<div class="hero min-h-screen bg-[url('/assets/book_wall.jpg')]">
    <div class="hero-content text-center max-w-full grid grid-flow-col auto-cols-fr">
        <div class="max-w shadow-lg border-base-100 p-4 border-2 rounded-box h-screen bg-base-200 opacity-95">
            <h1 class="text-5xl font-bold">Your Subscriptions</h1>
            <hr class="border-base-100 border-2">
            <p class="py-6">This is the list of books that you have bought on our platform. Click on the <span class="text-info">Book Name</span> to
                see reciept and read the contents of the book. <span class="text-warning">Unsubscribe</span> will remove
                your subscription to that book provided its within 24-hrs</p>
            <br>
            <div class="overflow-x-auto">
                <div class="text-2xl font-bold text-slate-500"
                    *ngIf="!(allSubscribedBooks && allSubscribedBooks.length != 0)">No Data Found</div>
                <table class="table w-full" *ngIf="allSubscribedBooks && allSubscribedBooks.length != 0">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th>bookId</th>
                            <th>Title</th>
                            <th>Category</th>
                            <!-- <th>Publisher</th> -->
                            <!-- <td>Publish Date</td> -->
                            <th>You Paid</th>
                            <th>Subscribed On</th>
                            <th>Block Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bookSubscription of allSubscribedBooks">
                            <th>{{bookSubscription.book.bookId}}</th>
                            <td><b class="text-info underline underline-offset-2 cursor-pointer"
                                    [routerLink]="bookSubscription.subscription.id">{{bookSubscription.book.title}}</b>
                            </td>
                            <td>{{bookSubscription.book.category}}</td>
                            <!-- <td>{{bookSubscription.book.publisher}}</td> -->
                            <!-- <td>{{bookSubscription.book.publishedDate}}</td> -->
                            <td><b>{{bookSubscription.book.price| currency:'INR'}} </b></td>
                            <td><b>{{bookSubscription.subscription.subscriptionDate}}</b></td>
                            <td><button class="btn btn-outline btn-warning"
                                    (click)="unsubscribe(bookSubscription.book.bookId)"
                                    [disabled]="isSubscriptionDatePost24Hours(bookSubscription.subscription.subscriptionDate)"><b>UnSubscribe</b></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="max-w shadow-lg border-base-100 p-4 border-2 rounded-box h-screen bg-base-200 opacity-95">
            <h1 class="text-5xl font-bold">All Books</h1>
            <hr class="border-base-100 border-2">
            <p class="py-6">List of books present on our platform. you can click on the <span class="text-secondary">Book Name</span> to get more information on
                that book, or buy a subscription by clicking on <span class="text-primary">Subscribe</span> </p>
            <br>
            <div class="overflow-x-auto">
                <div class="text-2xl font-bold text-slate-500"
                    *ngIf="!(allUnblockedBooks && allUnblockedBooks.length != 0)">No Data Found</div>
                <table class="table w-full" *ngIf="allUnblockedBooks && allUnblockedBooks.length != 0">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th>bookId</th>
                            <th>Title</th>
                            <th>Category</th>
                            <!-- <th>Publisher</th> -->
                            <td>Publish Date</td>
                            <th>Price</th>
                            <th>Block Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of allUnblockedBooks">
                            <th>{{book.bookId}}</th>
                            <td class="text-secondary link underline-offset-2 cursor-pointer"
                                [routerLink]="'/book/' + book.bookId">{{book.title}}</td>
                            <td>{{book.category}}</td>
                            <!-- <td>{{book.publisher}}</td> -->
                            <td>{{book.publishedDate}}</td>
                            <td>{{book.price| currency:'INR'}} </td>
                            <td><button class="btn btn-outline btn-primary"
                                    (click)="subscribe(book.bookId)"><b>Subscribe</b></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>