<div class="navbar bg-base-100">
    <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-xl" [routerLink]='"/"'>DigitalBooks</a>
    </div>
    <div class="navbar-center flex">
        <div *ngIf="loginService?.user" class="flex gap-10">
            <p class="bold font-extrabold">Your Actions:</p>
            <a class="link" [routerLink]="'/subscribe'">Your Subscriptions</a>
            <a class="link" *ngIf="loginService.user?.authorUser" [routerLink]='"/createBook"'>Create A Book</a>
            <a class="link" *ngIf="loginService.user?.authorUser" [routerLink]='"/updateBook"'>Edit A Book</a>
            <a class="link" *ngIf="loginService.user?.authorUser" [routerLink]='"/blockBook"'>Block A Book</a>
        </div>
    </div>
    <div class="navbar-end gap-4" *ngIf="!loginService.user">
        <a class="btn" [routerLink]='"/login"'>Login</a>
        <a class="btn" [routerLink]='"/register"'>Signup</a>
    </div>
    <div class="navbar-end gap-4 pl-4" *ngIf="loginService.user">
        <div>
            <p>Welcome, {{loginService.user.emailId}}</p>
            <a class="underline text-blue-600 disabled">Options</a>
            |
            <a href="\" class="underline text-blue-600" (click)="flushCookies()">Logout</a>
        </div>
    </div>
</div>