<div class="hero min-h-screen bg-[url('/assets/book_wall.jpg')]">
    <div class="hero-content text-center max-w-full">
        <div class="max-w shadow-lg p-4 border-2 rounded-box h-full w-fit text-xl font-bold text-error bg-base-200 border-warning opacity-95"
            *ngIf="!previousBooksBySameUser?.length">No Books Found... Try Adding Books First</div>
        <div *ngIf="previousBooksBySameUser?.length">
            <div class="max-w shadow-lg border-base-100 p-4 border-2 rounded-box h-full w-fit  bg-base-200">
                <h1 class="text-5xl font-bold">List of Previous Books</h1>
                <hr class="border-base-100 border-2">
                <p class="py-6">Following is the List of previous books written by you. You can check the general
                    information by clicking <span class="text-secondary">Book Title</span>.</p>
                <br>
                <div class="overflow-x-auto">
                    <table class="table w-full">
                        <!-- head -->
                        <thead>
                            <tr>
                                <th>bookId</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Publisher</th>
                                <td>Publish Date</td>
                                <th>Price</th>
                                <th>Block Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- row 1 -->
                            <tr *ngFor="let book of previousBooksBySameUser">
                                <th>{{book.bookId}}</th>
                                <td>{{book.title}}</td>
                                <td>{{book.category}}</td>
                                <td>{{book.publisher}}</td>
                                <td>{{book.publishedDate | date}}</td>
                                <td>{{book.price | currency:'INR'}} </td>
                                <td [ngClass]="{'text-success':!book.blocked,'text-error':book.blocked}">
                                    <b>{{book.blocked?"Blocked":"Not Blocked"}}</b>
                                </td>
                                <td><button
                                        [ngClass]="{'btn btn-outline': true,'btn-error':!book.blocked,'btn-info':book.blocked}"
                                        (click)="toggleBlock($event,book)"><b>{{!book.blocked?"Block":"Unblock"}}</b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>