<div class="hero min-h-screen bg-[url('/assets/book_wall.jpg')]">
    <div class="hero-content text-center">
        <div class="max-w-md shadow-lg border-base-100 p-4 border-2 rounded-box bg-base-200 opacity-95">
            <h1 class="text-5xl font-bold">Register Here...</h1>
            <hr class="border-base-100 border-2">
            <p class="py-6">Register to One of the leading Book Subscription Services on the internet. Get access to over 50,000,000+ books once the migration is completed.</p>
            <br>
            <div class="" id="registrationFormContainer">
                <form [formGroup]="registerationForm" (ngSubmit)="registerUser()">
                    <div class="form-control">
                        <label class="label" for="name"><span class="label-text">Name</span></label>
                        <input id="name" name="name" type="text" placeholder="Eg. 'Shounak Bhalerao'" class="input input-bordered rounded-none rounded-t" formControlName="name" />
                        <span class="bg-base-300 text-red-400 w-full label-text-alt rounded-b" *ngIf="registerationForm.controls['name'].invalid && registerationForm.controls['name'].dirty">
                            😎 First Name should contain only alphabets
                        </span>
                    </div>
                    <div class="form-control">
                        <label class="label" for="email_id"><span class="label-text">Your Email</span></label>
                        <input id="email_id" name="emailId" type="text" placeholder="Eg. 'info@site.com'" class="input input-bordered rounded-none rounded-t" formControlName="emailId" />
                        <span class="bg-base-300 text-red-400 w-full label-text-alt rounded-b" *ngIf="registerationForm.controls['emailId'].invalid && registerationForm.controls['emailId'].dirty">
                            📧 That doesn't look like an email.
                        </span>
                    </div>
                    <div class="form-control">
                        <label class="label" for="password"><span class="label-text">Your Password</span></label>
                        <input id="password" name="password" type="password" placeholder="password" class="input input-bordered rounded-none rounded-t" formControlName="password" />
                        <span class="bg-base-300 text-red-400 w-full label-text-alt rounded-b" *ngIf="registerationForm.controls['password'].invalid && registerationForm.controls['password'].dirty">
                            🔑 Password must satisfy all the criteria
                        </span>
                    </div>
                    <br>
                    <div class="form-control">
                        <div class="flex flex-row justify-around">
                            <label for="author" class="badge font-bold {{!registerationForm.controls['authorUser'].value?'badge-outline':''}}">User</label><input type="checkbox" class="toggle" name="authorUser" id="authorUser" formControlName="authorUser"><label for="" class="badge font-bold {{registerationForm.controls['authorUser'].value?'badge-outline':''}}">Author</label>
                        </div>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-active" [disabled]="registerationForm.invalid">Register</button>
                    </div>
                    <div>
                        <p class="text-red-400" *ngIf="errorMessage">{{errorMessage}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>